<div>
    <h2 id="page-heading">
        <span jhiTranslate="ifrisGatewayApp.loanserviceLoanAccount.home.title">Loan Accounts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-loan-account" [routerLink]="['/loan-account/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="ifrisGatewayApp.loanserviceLoanAccount.home.createLabel">
            Create new Loan Account
            </span>
        </button>
    </h2>
    <ifris-alert></ifris-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'ifrisGatewayApp.loanserviceLoanAccount.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="loanAccounts">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sbu"><span jhiTranslate="ifrisGatewayApp.loanserviceLoanAccount.sbu">Sbu</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="rmCode"><span jhiTranslate="ifrisGatewayApp.loanserviceLoanAccount.rmCode">Rm Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="glCode"><span jhiTranslate="ifrisGatewayApp.loanserviceLoanAccount.glCode">Gl Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="schemeCode"><span jhiTranslate="ifrisGatewayApp.loanserviceLoanAccount.schemeCode">Scheme Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="customerCode"><span jhiTranslate="ifrisGatewayApp.loanserviceLoanAccount.customerCode">Customer Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="accountNumber"><span jhiTranslate="ifrisGatewayApp.loanserviceLoanAccount.accountNumber">Account Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="accountName"><span jhiTranslate="ifrisGatewayApp.loanserviceLoanAccount.accountName">Account Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="currencyCode"><span jhiTranslate="ifrisGatewayApp.loanserviceLoanAccount.currencyCode">Currency Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="openingDate"><span jhiTranslate="ifrisGatewayApp.loanserviceLoanAccount.openingDate">Opening Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="accountBalance"><span jhiTranslate="ifrisGatewayApp.loanserviceLoanAccount.accountBalance">Account Balance</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="limitAmount"><span jhiTranslate="ifrisGatewayApp.loanserviceLoanAccount.limitAmount">Limit Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="systemClassification"><span jhiTranslate="ifrisGatewayApp.loanserviceLoanAccount.systemClassification">System Classification</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="userClassification"><span jhiTranslate="ifrisGatewayApp.loanserviceLoanAccount.userClassification">User Classification</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nominalRate"><span jhiTranslate="ifrisGatewayApp.loanserviceLoanAccount.nominalRate">Nominal Rate</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="expiryDate"><span jhiTranslate="ifrisGatewayApp.loanserviceLoanAccount.expiryDate">Expiry Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="interestSuspended"><span jhiTranslate="ifrisGatewayApp.loanserviceLoanAccount.interestSuspended">Interest Suspended</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="loanProvision"><span jhiTranslate="ifrisGatewayApp.loanserviceLoanAccount.loanProvision">Loan Provision</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="economicSector"><span jhiTranslate="ifrisGatewayApp.loanserviceLoanAccount.economicSector">Economic Sector</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="economicSubSector"><span jhiTranslate="ifrisGatewayApp.loanserviceLoanAccount.economicSubSector">Economic Sub Sector</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="appraisalMonth"><span jhiTranslate="ifrisGatewayApp.loanserviceLoanAccount.appraisalMonth">Appraisal Month</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let loanAccount of loanAccounts ;trackBy: trackId">
                <td><a [routerLink]="['/loan-account', loanAccount.id, 'view' ]">{{loanAccount.id}}</a></td>
                <td>{{loanAccount.sbu}}</td>
                <td>{{loanAccount.rmCode}}</td>
                <td>{{loanAccount.glCode}}</td>
                <td>{{loanAccount.schemeCode}}</td>
                <td>{{loanAccount.customerCode}}</td>
                <td>{{loanAccount.accountNumber}}</td>
                <td>{{loanAccount.accountName}}</td>
                <td>{{loanAccount.currencyCode}}</td>
                <td>{{loanAccount.openingDate | date:'mediumDate'}}</td>
                <td>{{loanAccount.accountBalance}}</td>
                <td>{{loanAccount.limitAmount}}</td>
                <td jhiTranslate="{{'ifrisGatewayApp.RiskClass.' + loanAccount.systemClassification}}">{{loanAccount.systemClassification}}</td>
                <td jhiTranslate="{{'ifrisGatewayApp.RiskClass.' + loanAccount.userClassification}}">{{loanAccount.userClassification}}</td>
                <td>{{loanAccount.nominalRate}}</td>
                <td>{{loanAccount.expiryDate | date:'mediumDate'}}</td>
                <td>{{loanAccount.interestSuspended}}</td>
                <td>{{loanAccount.loanProvision}}</td>
                <td>{{loanAccount.economicSector}}</td>
                <td>{{loanAccount.economicSubSector}}</td>
                <td>{{loanAccount.appraisalMonth | date:'mediumDate'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/loan-account', loanAccount.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/loan-account', loanAccount.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'loan-account', { outlets: { popup: loanAccount.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="loanAccounts && loanAccounts.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
